:root {
  --primary-color: blue;
  --secondary-color: green;
  --alert-color: red;
  --info-color: yellow;
  --success-color: #66c9f8;
  --border-color: #c5c5c5;
  --muted-color: #818181;

  --active-color: blue;
  --white-color: white;
}
