.row {
  height: 30px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  &:nth-child(2n) {
    background: #e8e8e8;
  }
  &:nth-child(2n+1) {
    background: #eeedee;
  }
  & .col {
    height: 100%;
    line-height: 100%;
    padding: 0 10px;
    &:not(:last-child) {
      border-inline-end: 1px solid black;
    }
  }
  &.activeRow {
    color: white;
    background: #5f91e0;
    & .linkBtn {
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
      cursor: pointer;
    }
  }
  & .linkBtn {
    display: none;
  }
}

.tag {
  min-width: 20px;
  min-height: 20px;
  border: solid 1px wheat;
}