.row {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:nth-child(2n) {
    background: #e8e8e8;
  }
  &:nth-child(2n+1) {
    background: #eeedee;
  }
  & .col {
    height: 100%;
    line-height: 100%;
    padding: 0 10px;
    &:not(:last-child) {
      border-inline-end: 1px solid black;
    }
  }
}
